img{
    width: 15rem;
    height: 12rem;
}

.divider{
    border-top: 1px solid gray;
}

.btn-blue{
    background-color: #639ee2;
    color: #FFFF;
}

svg{
    cursor: pointer;
}

svg:hover{
    transform: scale(1.2);
    transition: 500ms;
}

hr {
    margin-top: 2rem;
    margin-bottom: 2rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.808);
}

.p-InfoPer{
    text-align: end;
}
.head{
    font-size: x-large;
    color: rgba(0, 0, 0, 0);
}

.flotante{
    position: sticky;
    top: 20px;
}

.linked{
    color: #0A66C2;
}
.ws{
    color: rgb(82, 185, 82);
}

.ig{
    color: rgb(143, 42, 143);
}

.tecnologias{
    font-size: small;
    color: gray;
}